doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#viz viz div
    script(type='text/javascript' src='/lib/d3.min.js')
    script(type='text/javascript' src='/javascripts/script.js')